{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <p><a class ="btn btn-primary btn-xs" href="{{ path('pilote_new') }}">Ajouter un Pilote</a></p>
    <p><a class ="btn btn-primary btn-xs" href="{{ path('gestionnaire_new') }}">Ajouter un Gestionnaire</a></p>
    <!--<a class ="btn btn-primary btn-xs" href="">Ajouter un Responsable</a>-->
</div>
{% endblock %}
