{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    {% for vol in passager.vols %}
        <p>
            {{ vol.villeArrivee }}
        </p>
        <a href= "{{ path('office_passager') }}">Retour</a>
    {% endfor %}
</div>
 {% endblock %}

