{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    {% for vol in passager.vols %}
        <div>
        <p>
            {{ vol.villeArrivee }}
        </p>
        </div>
    {% endfor %}
    <a href= "{{ path('office_passager') }}">Retour</a>
</div>
 {% endblock %}

