{% extends 'base.html.twig' %}

{% block title %}Nouveau vol{% endblock %}

{% block body %}
    <h1>Cree un nouveau Vol</h1>

    {{ include('vol/_form.html.twig') }}

    <a href="{{ path('vol_index') }}">Retour</a>
{% endblock %}
