{% extends 'base.html.twig' %}

{% block title %}Nouveau Passager{% endblock %}

{% block body %}
    <h1>Créer un nouveau Passager</h1>

    {{ include('passager/_form.html.twig') }}

    <a href="{{ path('passager_index') }}">Retour</a>
{% endblock %}
