
{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <p><a class ="btn btn-primary btn-xs" href="{{ path('vol_new') }}">Creer un nouveau vol</a></p>
    </div>

{% endblock %}